email-block {
  display: inline-block;
  background-color: #D9E8FF;
  border-radius: 10px;
  padding: 3px 9px;
  margin-right: 8px;
  font-size: 14px;
  cursor: default;
}

email-block .email {
  vertical-align: top;
}

email-block .email.invalid {
  border-bottom: 1px solid;
  border-color: red;
}

email-block .remove {
  cursor: pointer;
  font-size: 14px;
  padding-left: 4px;
}
