<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Emails</title>
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
    <script src="/js/example.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="example ng-cloak" ng-controller="ExampleController">
      <emails-editor emails="emails" title="title" placeholder="placeholder">
      </emails-editor>
      <button ng-click="addEmails()">Add email</button>
      <button ng-click="getEmailsCount()">Get emails count</button>
    </div>
  </body>
</html>
