emails-editor {
  box-sizing: border-box;
  display: block;
  background: #F5F5F5;
  padding: 20px 40px 30px;
}

emails-editor > .title {
  margin: 0;
  height: 20px;
  padding: 12px 0 38px;
  font-size: 20px;
  color: #333333;
}

emails-editor > .input-field {
  box-sizing: inherit;
  cursor: text;
  background: white;
  border-top: 1px solid;
  border-color: #BBBBBB;
  height: 100px;
  padding: 8px;
  overflow: auto;
}

emails-editor > .input-field > input {
  margin-left: 0px;
  border: none;
  outline: none;
}
